*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

#for gradle, IDEA
gradle.properties
!.idea/runConfigurations/*
.idea/copyright/
.idea/inspectionProfiles/
.idea/dictionaries/
.idea/*.xml
.idea/.name
.idea/fileTemplates/
build

#key
release.gradle

captures

#for google services, for push notifications
app/google-services.json
